@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: QYakuHanJP, "Noto Sans JP", "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: 0.1rem;
}

#header {
  background-color: #222;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  #header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    padding: 10px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  #header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    padding: 15px;
  }
}
@media screen and (min-width: 1000px) {
  #header {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#footer {
  background-color: #222;
  color: #fff;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #footer {
    padding: 10px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  #footer {
    padding: 15px;
  }
}
@media screen and (min-width: 1000px) {
  #footer {
    padding: 20px;
  }
}

#top-page .page-header {
  background-color: transparent;
}
#top-page .page-header.is-scrolled {
  background-color: #222;
}
#top-page .page-header.is-default-color {
  background-color: #222;
}

.c-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.c-logo__image-area {
  width: 20px;
}
.c-logo__image {
  width: 100%;
}
.c-logo__title {
  font-size: 1.25rem;
  font-weight: 700;
}

.c-header-menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 15px;
}
.c-header-menu__list-item {
  font-weight: 700;
  line-height: 2;
}

.c-hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  width: 20px;
}
.c-hamburger-menu__border {
  background-color: #fff;
  border-radius: 4px;
  height: 2px;
}

.c-hamburger-menu.is-active > .c-hamburger-menu__border:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}
.c-hamburger-menu.is-active > .c-hamburger-menu__border:nth-of-type(2) {
  opacity: 0;
}
.c-hamburger-menu.is-active > .c-hamburger-menu__border:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
}

.c-menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}
.c-menu__list-item {
  line-height: 2;
}
.c-menu__list-item-link:hover {
  text-decoration: underline;
}

.c-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-news-card {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 120px;
  padding: 20px;
  row-gap: 20px;
  width: min(100%, 250px);
}
.c-news-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.c-news-card__title {
  font-size: 1rem;
}
.c-news-card__text {
  font-size: 0.95rem;
  line-height: 1.5;
}

.c-intro-card {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  padding: 20px;
  width: min(100%, 250px);
}
.c-intro-card__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  row-gap: 20px;
}
.c-intro-card__image-area {
  width: 100px;
}
.c-intro-card__image {
  width: 100%;
}
.c-intro-card__title-area {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-intro-card__text {
  line-height: 1.5;
}
.c-intro-card__footer-area {
  margin-top: auto;
}
.c-intro-card__footer-button {
  background-color: #222;
  border: medium solid #222;
  border-radius: 4px;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.c-hero--main {
  background-attachment: fixed;
  background-image: url(../img/hero-main-sp.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media screen and (min-width: 1000px) {
  .c-hero--main {
    background-image: url(../img/hero-main-pc.jpg);
  }
}
.c-hero__title--main {
  font-size: 2.5rem;
  line-height: 1.5;
}

.c-image-wrapper {
  width: 100%;
}
.c-image-wrapper__image {
  height: 100%;
  width: 100%;
}

.c-map-wrapper {
  width: 100%;
}
.c-map-wrapper__map {
  width: 100%;
}

.c-title--main {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}

.c-text {
  line-height: 2;
}

.c-text--strong {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}

.c-text--hero {
  color: #fff;
  text-align: center;
}

.p-address-area__phone-text {
  color: #4F6228;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
}

@media screen and (max-width: 600px) {
  .p-container, .p-container.has-bg-color {
    padding: 40px 20px 60px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-container, .p-container.has-bg-color {
    padding: 40px 20px 80px;
  }
}
@media screen and (min-width: 1000px) {
  .p-container, .p-container.has-bg-color {
    padding: 60px 30px 120px;
  }
}

.p-container--hero {
  padding: 0;
}

.p-container.has-bg-color {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 0px 8px 2px #ddd inset;
          box-shadow: 0px 0px 8px 2px #ddd inset;
}

.p-2col-container, .p-2col-container--rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-2col-container__col--image {
  padding: 0;
}
@media screen and (max-width: 600px) {
  .p-2col-container, .p-2col-container--rev {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .p-2col-container__col {
    padding: 0px 20px 60px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-2col-container, .p-2col-container--rev {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .p-2col-container__col {
    padding: 0px 20px 80px;
  }
}
@media screen and (min-width: 1000px) {
  .p-2col-container, .p-2col-container--rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .p-2col-container__col {
    padding: 5vh 30px 0px;
  }
}

@media screen and (min-width: 1000px) {
  .p-2col-container--rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.p-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-section__title-area {
  text-align: center;
}
.p-section__content-area {
  width: 100%;
}
.p-section__content-text {
  max-width: 800px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .p-section {
    row-gap: 20px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-section {
    row-gap: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .p-section {
    row-gap: 5vh;
  }
}

.p-dual-title__first {
  border-bottom: 2px solid #C6B32A;
}

.p-access-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-access-info__map-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 600px;
  width: 100%;
}
.p-access-info__address-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 600px;
  width: 100%;
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-access-info {
    gap: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .p-access-info {
    -webkit-column-gap: 5vw;
       -moz-column-gap: 5vw;
            column-gap: 5vw;
  }
}

.p-hero--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-hero__title--main {
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  font-size: min(4vw, 28px);
  padding-left: 5vw;
}
@media screen and (min-width: 1000px) {
  .p-hero__title--main {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .p-header-menu {
    left: 0;
    position: absolute;
    top: -100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
  }
  .p-header-menu.is-active {
    background-color: #222;
    height: 100vh;
    top: 60px;
  }
  .p-header-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    width: 100%;
  }
  .p-header-menu__list-item {
    border-bottom: 2px solid #333;
    height: 10vh;
    line-height: 10vh;
    position: relative;
    width: 100%;
  }
  .p-header-menu__list-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    width: 100%;
  }
  .p-header-menu__list-item-label {
    font-size: 1.25rem;
    font-weight: normal;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-header-menu {
    left: 0;
    position: absolute;
    top: -100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
  }
  .p-header-menu.is-active {
    background-color: #222;
    height: 100vh;
    top: 70px;
  }
  .p-header-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    width: 100%;
  }
  .p-header-menu__list-item {
    border-bottom: 2px solid #333;
    height: 10vh;
    line-height: 10vh;
    position: relative;
    width: 100%;
  }
  .p-header-menu__list-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    width: 100%;
  }
  .p-header-menu__list-item-label {
    font-size: 1.25rem;
    font-weight: normal;
  }
}
@media screen and (min-width: 1000px) {
  .p-header-menu__list {
    height: 100%;
  }
  .p-header-menu__list-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
  }
  .p-header-menu__list-item:after {
    background-color: #C6B32A;
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 15px;
    height: 3px;
    opacity: 0;
    position: absolute;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .p-header-menu__list-item:hover:after {
    opacity: 1;
  }
  .p-header-menu__list-item:hover {
    cursor: pointer;
  }
  .p-header-menu__list-item-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .p-header-menu__list-item-icon {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .p-hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .p-footer-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p-footer-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
  .p-footer-menu__list-item {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .p-footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p-footer-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
  .p-footer-menu__list-item {
    width: 50%;
  }
  .p-footer-menu__list-item-link {
    position: relative;
  }
  .p-footer-menu__list-item-link:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    opacity: 0;
    position: absolute;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .p-footer-menu__list-item-link:hover {
    text-decoration: none;
  }
  .p-footer-menu__list-item-link:hover:after {
    opacity: 1;
  }
}

.p-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-footer__copy-right {
  line-height: 2;
}
@media screen and (max-width: 600px) {
  .p-footer {
    row-gap: 20px;
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-footer {
    row-gap: 30px;
  }
  .p-footer__copy-right {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .p-footer {
    row-gap: 5vh;
  }
  .p-footer__copy-right {
    text-align: center;
  }
}

@media screen and (min-width: 601px) and (max-width:999px) {
  .p-logo {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .p-logo__image-area {
    width: 25px;
  }
}
@media screen and (min-width: 1000px) {
  .p-logo {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    height: 100%;
  }
  .p-logo__image-area {
    width: 30px;
  }
}

.p-card {
  padding: 20px;
}
@media screen and (min-width: 1000px) {
  .p-card:hover {
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@media screen and (max-width: 600px) {
  .p-news-card {
    width: calc(100% - 20px);
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-news-card {
    width: calc(50% - 10px);
  }
}
@media screen and (min-width: 1000px) {
  .p-news-card {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: min(25% - 20px, 280px);
  }
  .p-news-card:hover {
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@media screen and (max-width: 600px) {
  .p-intro-card {
    width: calc(100% - 20px);
  }
}
@media screen and (min-width: 601px) and (max-width:999px) {
  .p-intro-card {
    width: calc(50% - 10px);
  }
}
@media screen and (min-width: 1000px) {
  .p-intro-card {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: min(25% - 20px, 280px);
  }
  .p-intro-card:hover {
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .p-intro-card__footer-button {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .p-intro-card__footer-button:hover {
    background-color: #fff;
    border: medium solid #222;
    color: #222;
    cursor: pointer;
  }
}

.u-mb-15vh {
  margin-bottom: 15vh;
}
.u-mb-20vh--pc {
  margin-bottom: 0;
}
@media screen and (min-width: 1000px) {
  .u-mb-20vh--pc {
    margin-bottom: 20vh;
  }
}

.u-py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-pl-5 {
  padding-left: 5px;
}

.u-text-center {
  text-align: center;
}