@use "../../Foundation/variables";
@use "../../Foundation/function";

.p-access-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  &__map-area {
    flex: 1 1 250px;
    max-width: 600px;
    width: 100%;
  }
  &__address-area {
    flex: 1 1 250px;
    max-width: 600px;
    width: 100%;
  }
  @include function.mq(tablet) {
    gap: 30px;
  }
  @include function.mq(pc) {
    column-gap: 5vw;
  }
}
